<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a href="/" class="navbar-brand mx-1">TypeScript</a>
    <div class="d-flex">
      <div class="dropdown-center">
        <button class="btn btn-sm btn-danger mx-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Theme</button>
        <ul class="dropdown-menu dropdown-menu">
          <li><a href="#" class="dropdown-item">Light</a></li>
          <li><a href="#" class="dropdown-item">Dark</a></li>
        </ul>
      </div>
      <button *ngIf="!isLoggedIn()" class="btn btn-sm btn-primary mx-1" (click)="login()">Login</button>
      <button *ngIf="isLoggedIn()" class="btn btn-sm btn-warning">Profile</button>
      <button *ngIf="isLoggedIn()" class="btn btn-sm btn-success mx-1" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
<div class="container">
  aaa
</div>

<router-outlet />